@media all {
    * {
        box-sizing:                 border-box;
        position:                   relative;
        margin:                     0px;
        padding:                    0px;
        text-decoration:            none;
        transition:                 all 0.5s ease;
        font-family:                'Poppins', sans-serif;
    }
    .pages {
        clear:                      both;
        width:                      100vw;
        margin:                     auto;
        background-position:        50% 50%;
        background-size:            cover;
    }
    .arrow-top {
        margin-left:                48.5%;
        width:                      3%;
    }
    .arrow-top:hover {
        transform:                  scale(1.1);
        transition:                 all 0.2s ease;
    }
    #page-01 {
        text-align:                 center;
        height:                     100vh;
        background-image:           url('../img/intro.jpg');
    }
        .socialmedia-group,
        .col {
            height:                     15%;
            background-color:           rgba(15, 15, 15, 0.5);
        }
        .socialmedia {
            top:                        30%;
            height:                     40%;
            margin:                     auto 5px;
        }
        .socialmedia:hover {
            transform:                  scale(1.2);
            transition:                 all 0.2s ease;
        }
        .greetings {
            top:                        5%;
            color:                      white;
            text-shadow:                0.05em 0.05em 0.2em brown;
        }
        .options {
            top:                        10%;
            height:                     12vh;
        }
            .col {
                float:                      left;
                clear:                      none;
                width:                      50%;
                height:                     100%;
                margin:                     5% 0 0 25%;
            }
            .col .opt {
                display:                    inline-block;
                top:                        50%;
                transform:                  translate(0%, -50%);
                font-size:                  1.3em;
                color:                      white;
                text-shadow:                0.05em 0.05em 0.2em brown;
            }
            .col:hover {
                animation-name:             tremer;
                animation-duration:         0.1s;
                animation-iteration-count:  2;
            }
    #page-02 .content{
        margin:                     10px;
        font-size:                  1.2em;
        color:                      rgb(32, 140, 100);
        text-shadow:                1px 1px 2px lightgrey;
        background-image:           url('../img/general_background.png');
        background-size:            auto;
        box-shadow:                 0 0 15px 5px lightgrey;
    }
        #who-we-are {
            float:                      left;
            width:                      30%;
            margin:                     20px;
        }
        #page-02 .about-area * {
            padding:                    20px;
        }
    #page-03 {
        font-size:                  1.3em;
    }
    #page-03 .content {
        background-color:           rgba(255, 255, 200, 0.8);
    }
        .pizza {
            max-height:                 48px;
            margin:                     10px;
            padding:                    15px;
            color:                      white;
            text-shadow:                1px 1px 2px lightgrey;
            background-color:           rgba(255, 0, 0, 0.8);
            box-shadow:                 0 0 15px 2px grey;
            pointer-events:             all;
            overflow:                   hidden;
        }
        .pizza:nth-child(even) {
            background-color:           rgb(32, 140, 100);
        }
        #page-03 .pizza:hover, 
        #page-03 .pizza:active {
            max-height:                 300px;
        }
    #page-04 {
        padding:                    10px;
    }
        iframe {
             width:                     40%;
             border:                    0;
        }
}
@media all and (orientation: portrait) {
    #page-01 {
        background-image:           url('../img/intro_portrait.jpg');
    }
    .socialmedia-group {
        height:                     10%;
    }
    .socialmedia {
        margin:                     auto 0.5%;
    }
    #who-we-are {
        float:                      none;
        width:                      60%;
        margin-left:                20%;
    }
}
@media all and (orientation: landscape) {
    .col {
        width:                      calc(50% / 2);
        height:                     150%;
        margin:                     2% 0 0 calc(50% / 3);
    }
}
@media all and (min-width: 768px) {
    .greetings {
        font-size:                  1.5em;
    }
    .col {
        width:                      calc(50% / 2);
        height:                     150%;
        margin:                     5% 0 0 calc(50% / 3);
    }
}
@media all and (min-width: 1024px) {
    .greetings {
        font-size:                  1.2em;
    }
    .pages {
        width:                      90vw;
    }
    .col {
        width:                      calc((100% - 7.5em) / 4);
        margin:                     5% 0 0 1.5em;
    }
}
@keyframes tremer {
    0%
        { transform: rotate(2deg);  }
    100%
        { transform: rotate(-2deg); }
}